@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

body {
    font-family: 'Gloria Hallelujah', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2%;
    margin-top: 0;
}

.header {
    height: 10%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

h1 {
    margin: 0;
    padding: 0;
}

.options-menu {
    /* background-color: peachpuff; */
    border-radius: 25px;
    background-color: aliceblue;
    width: 300px;
    height: 25%;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
    gap: 2%;
}

button {
    width: 25%;
    height: 3em;
}

.sketch-box {
    width: 800px;;
    height: 800px;
    background-color: white;
    border-style: solid;
    box-sizing: border-box;
    border-color: rgb(114, 114, 114);
    border-width: 1px;
}

.row {
    display: flex;
}

.canvas-square {
    box-sizing: border-box;
}